 body {
  background-color: beige;
 
  /* margin: 0;
  padding: 0; */
}
body { background-image: linear-gradient(to right, rgb(196 218 229) ,white, rgb(241 233 179));
}
h1{color: #bb7437;
  size-adjust: 24px;
  align-content: center;
  margin-left: 350px ;}
  table{width:100% ;}
h2{color: black;
text-size-adjust: 10px;
font-style: normal;
font-family: 'Times New Roman', Times, serif ;}
table p  {text-align: center;
align-content: space-around;
}
h2{font-size: 18px;
text-align: center;}
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;}
    
.navbar a{color:rgb(18, 82, 116);}
.navbar a:hover{color: rgb(220, 33, 83);}
.footer {
  margin-top: 59px;
  background-color: gray;
  display: flex;
  align-items:normal;
  justify-content: center;
}
